@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Kosugi+Maru&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Inconsolata:wght@400;600&family=Kosugi+Maru&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #30306b;
  font-family: "Inconsolata", monospace;
  background-color: #fcfcf6;
}

.topnav {
  padding: 0px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 70px;
}

.login-button {
  display: block;
  text-align: center;
  padding: 10px 20px;
  font-size: 30px;
  font-weight: 600;
  background-color: #fcfcf6;
  border-radius: 10px;
  border: #30306b solid 2px;
}

div {
  background-color: #fcfcf6;
  font-size: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-family: "Kosugi Maru", sans-serif;
  font-size: 34px;
  color: #08c1ff;
}

.deviceimg {
  align-items: center;
}

h2 {
  text-align: center;
  font-family: "Inconsolata", monospace;
  font-weight: 600;
}

h3 {
  text-align: center;
  font-family: "Inconsolata", monospace;
  font-weight: 600;
  color: #08c1ff;
}

h4 {
  text-align: center;
  font-weight: 400;
}

p {
  font-weight: 400;
}

.signup-button {
  color: #fcfcf6;
  background-color: #30306b;
  text-align: center;
  padding: 10px 70px;
  font-size: 30px;
  border-radius: 10px;
  border: #30306b solid 2px;
}

.footernav {
  width: 100%;
  padding: 10px;
  background-color: lightyellow;
}

.footer {
  width: 100%;
  height: 40px;
  display: inline-block;

  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: lightyellow;
  font-size: 26px;
  font-weight: 600;
  padding: 5px 5px;
}

a:link,
a:visited {
  text-decoration: none;
}