

@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Kosugi+Maru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Inconsolata:wght@400;600&family=Kosugi+Maru&display=swap');
$font-header: 'Kosugi Maru', sans-serif;
$font-logo: 'Acme', sans-serif;
$font-header2: 'Inconsolata', monospace;
$font-p: 'Inconsolata', monospace;

$color-darkblue: rgb(38, 38, 100);
$font-lightblue: rgb(8, 193, 255);
$color-cream: rgb(252, 252, 246);
$font-heavycream: lightyellow;

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $color-darkblue;
    font-family: $font-header2;
    background-color: $color-cream;
}

.topnav {
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    font-size: 70px;
}

.login-button {
    display: block;
    text-align: center;
    padding: 10px 20px;
    font-size: 30px;
    background-color: $color-cream;
    border-radius: 10px;
    border: $color-darkblue solid 2px;
}

div {
    background-color: $color-cream;
    border: green solid 2px;
    font-size: 20px;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

h1 {
    font-family: $font-header;
    font-size: 34px;
    color: $font-lightblue;
}

.deviceimg {
    align-items: center;
}

h2 {
    font-family: $font-header2;
    font-weight: 600;
}
  
h3 {
    font-family: $font-header2;
    font-weight: 600;
}

p {
    font-weight: 400;
}

.signup-button {
    
    text-align: center;
    padding: 10px 20px;
    font-size: 30px;
    background-color: $color-cream;
    border-radius: 10px;
    border: $color-darkblue solid 2px;
}

footer {
    background-color: $font-heavycream;
    font-size: 26px;
    font-weight: 600;
    padding: 5px;
}


a:link,
a:visited {
    text-decoration: none;
}
