@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Kosugi+Maru&display=swap");
* {
  margin: 0;
  padding: 0;
}

div {
  background-color: lightyellow;
  border: green solid 2px;
  color: lightyellow;
  font-size: 20px;
}

h1 {
  font-family: "Kosugi Maru", sans-serif;
  color: #08c1ff;
}